rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /client-room/{allPaths=**} {
      allow read: if true;
      allow create, update: if request.auth != null
                            && request.resource.size < 200 * 1024 * 1024;
      allow delete: if request.auth != null;
    }
  }
}
